.main
  #upload
    Please upload your trade executions file
    = form_for(@ef, :url => upload_trading_days_path, :html => {:multipart => true}) do |f|
      = f.file_field :file
      %br
      = f.submit "Upload Executions"
  .executions
    %h2 Your Trading Days
    - @trading_days.each do |e|
      %ul#trading_days
        %li
          = link_to(e.date.to_s, trading_day_date_path(e.date))
    
  
    