@import "compass/typography/vertical_rhythm";
@import "susy";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$title-color: #606060;
$subtitle-color: #3B3B3B;

body{
  display: block;
  background: #CACACA url('bg.png');
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #404040;
}
  
.page{
  @include container;
  header, footer { clear: both; }
  header {
    a{text-decoration: none;}
    a:visited{
      color: $title-color;
      
    }
    .title { 
      @include span-columns(9, 12);
      padding-bottom: 15px;
      font-size: 5em;
      font-weight: bold;
      color: $title-color;
    }
  }
  .clear { @include reset-columns }
  nav { 
    @include span-columns(3 omega, 12);
    ul{
      list-style: none; 
      padding: 0;
      margin: 0;
      li{ 
        list-style: none; 
        float: right;
        margin-left: 10px;
      }
    }
    
  }
  
  .content {
    @include span-columns(12, 12);
    .main {
      @include span-columns(12, 12);
      padding-top: 10px; 
      font-size: 1em;
      
      #statistics{
        @include span-columns(12, 12);
        
        h2 {
          font-size: 1.5em;
          color: $title-color;
        }
        
        #chart{
          @include span-columns(10,12);
          display:block;
          float: none;
        
          .bullet { font: 10px Helvetica, Arial, sans-serif; }
        
          .bullet .measure.wins, .bullet .measure.average_wins, .bullet .measure.winning_trades{ 
            fill: #216c2a; 
          }
        
          .bullet .measure.losses, .bullet .measure.average_losses, .bullet .measure.loosing_trades { 
            fill: #C42303; 
          }
        
          .bullet .flat_trades { fill: #404040;}
          .bullet .title { font-size: 1.4em; font-weight: bold; text-transform:capitalize;}
          .bullet .figure { font-size: 1.7em; font-weight: lighter; }
          .bullet .unit { font-size: 1.7em; font-weight: lighter; fill: #808080; }
          .bullet .subtitle { fill: #808080; }
          
          p{ display: inline; }
          p.figures{
            margin: 0px 0px 15px 10px;
            font-size: 1.75em;
            color: $title-color;
          }
          
          
        }
        
        
        .stocks{
          margin: 15px 0px 30px 0px;
          font-size: .75em;
          width: inherit;
          text-align: center;
          
          .button{
            display: inline-block;
            text-align: center;
            margin: 10px auto;
            outline: none;
            cursor: pointer;
            text-decoration: none;
            padding: .5em 2em .55em;
            text-shadow: 0 1px 1px rgba(0,0,0,.3);
            border-radius: .5em;
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
            width: 60px;
          }
          
          .green{
            color: #E8F0DE;
            border: solid 1px #538312;
            background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#216c2a));
            background: -moz-linear-gradient(top,  #4e7d0e,  #216c2a);
            box-shadow: inset 0 1px 10px 1px #75DE5B, 0px 1px 0 #254D1D, 0 1px 0px #21541F, 0 3px 6px 1px #111;
          }
          
          .button:hover { text-decoration: none; }
          .button:active { position: relative; top: 1px; }
          
          .green:hover{
            background: #538018;
            background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
            background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
          }
          
          .green:active{
            color: #a9c08c;
            background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
            background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
          }
          
          .red {
            color: #faddde;
            border: solid 1px #980c10;
            background: -webkit-gradient(linear, left top, left bottom, from(#C42303), to(#aa1317));
            background: -moz-linear-gradient(top,  #aa1317,  #C42303);
            box-shadow: inset 0 1px 10px 1px #DE5B5B, 0px 1px 0 #4D1D1D, 0 1px 0px #541F1F, 0 3px 6px 1px #111;
          }
          .red:hover {
            background: #b61318;
            background: -webkit-gradient(linear, left top, left bottom, from(#E01F26), to(#c9151b));
            background: -moz-linear-gradient(top,  #c9151b,  #a11115);
          }
          .red:active {
            color: #de898c;
            background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
            background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
          }
        }
      }
      
      table.executions{
        padding-top: 15px;
        font-size: 0.75em;
        border-collapse: collapse;
        width: 540px;
        text-align: left;
        thead{
          th{
            padding: 5px 7px;
            border-bottom: 2px solid $subtitle-color;
          }
          color: $subtitle-color;
        }
        tbody{
          tr.odd{background-color: #BDBABA;}
          tr{
            td{
              padding: 7px 7px;
            }
          }
        }
          
        
      }
      h2 { color: $subtitle-color; }
      
    }
    input { padding: 10px 0 10px 0;}
    .secondary{ @include span-columns(3 omega, 9); }
    
    
  }
  
}