@import "compass/typography/vertical_rhythm";
@import "susy";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$title-color: #494949;
$subtitle-color: #3B3B3B;

.page{
  @include container;
  header, footer { clear: both; }
  header {
    .title { 
      @include span-columns(6, 9);
      padding-bottom: 15px;
      font-size: 4em;
      color: $title-color;
    }
  }
  .clear { @include reset-columns}
  nav { 
    @include span-columns(3, 12);
    ul{
      list-style: none; 
      padding: 0;
      margin: 0;
      li{ 
        list-style: none; 
        float: right;
        margin-left: 10px;
      }
    }
    
  }
  
  .content {
    @include span-columns(12, 12);
    .main {
      @include span-columns(6, 9);
      padding-top: 10px; 
      font-size: 1em;
      
      .executions {padding-top: 15px; }
      table#trade_executions{
        font-size: 0.75em;
        border-collapse: collapse;
        width: 540px;
        text-align: left;
        thead{
          th{
            padding: 5px 7px;
            border-bottom: 2px solid $subtitle-color;
          }
          color: $subtitle-color;
        }
        tbody{
          tr.odd{background-color: #BDBABA;}
          tr{
            td{
              padding: 7px 7px;
            }
          }
        }
          
        
      }
      h2 { color: $subtitle-color; }
      
    }
    input { padding: 10px 0 10px 0;}
    .secondary{ @include span-columns(3 omega, 9); }
    
    
  }
  
}