@import "compass/typography/vertical_rhythm";
@import "susy";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$title-color: #606060;
$subtitle-color: #3B3B3B;

body{
  display: block;
  background: #CACACA url('bg.png');
  font-family: 'Satisfy', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #404040;
}
  
.page{
  @include container;
  header, footer { clear: both; }
  header {
    a{text-decoration: none;}
    a:visited{
      color: $title-color;
      
    }
    .title { 
      @include span-columns(9, 12);
      padding-bottom: 15px;
      font-size: 5em;
      font-weight: bold;
      color: $title-color;
    }
  }
  .clear { @include reset-columns }
  nav { 
    @include span-columns(3 omega, 12);
    ul{
      list-style: none; 
      padding: 0;
      margin: 0;
      li{ 
        list-style: none; 
        float: right;
        margin-left: 10px;
      }
    }
    
  }
  
  .content {
    @include span-columns(12, 12);
    .main {
      @include span-columns(12, 12);
      padding-top: 10px; 
      font-size: 1em;
      
      #statistics{
        @include span-columns(12, 12);
        
        .bullet { font: 10px sans-serif; }
        .bullet .marker { 
          stroke: #000; 
          stroke-width: 2px; 
        }
        .bullet .tick line { 
          stroke: #666; 
          stroke-width: .5px; 
        }
        
        .bullet .measure.wins, .bullet .measure.average_wins, .bullet .measure.winning_trades{ 
          fill: #216c2a; 
        }
        
        .bullet .measure.losses, .bullet .measure.average_losses, .bullet .measure.loosing_trades { 
          fill: #C42303; 
        }
        
        .bullet .flat_trades { fill: #404040;}
        .bullet .title { font-size: 1.4em; font-weight: bold; text-transform:capitalize;}
        .bullet .figure { font-size: 1.7em; font-weight: lighter; }
        .bullet .unit { font-size: 1.7em; font-weight: lighter; fill: #808080; }
        .bullet .subtitle { fill: #808080; }
        
        #day_statistics{
          @include span-columns(12, 12);
          div {
            margin: 0px 10px 10px 0px;
            display: block;
            clear: both;
          }
          
          .spaced { margin-top: 40px;}
          
          p{ display: inline; }
          p.figures{
            margin: 0px 0px 15px 10px;
            font-size: 1.75em;
            color: $title-color;
          }
        }
        #stock_statistics{
           @include span-columns(8, 12);
           li h2 {
             font-size: 1.5em;
             color :$title-color;
           }
        }
      }
      
      
      .executions {padding-top: 15px; }
      table.executions{
        font-size: 0.75em;
        border-collapse: collapse;
        width: 540px;
        text-align: left;
        thead{
          th{
            padding: 5px 7px;
            border-bottom: 2px solid $subtitle-color;
          }
          color: $subtitle-color;
        }
        tbody{
          tr.odd{background-color: #BDBABA;}
          tr{
            td{
              padding: 7px 7px;
            }
          }
        }
          
        
      }
      h2 { color: $subtitle-color; }
      
    }
    input { padding: 10px 0 10px 0;}
    .secondary{ @include span-columns(3 omega, 9); }
    
    
  }
  
}