!!!
%html
  %head
    %title Trade Analizer
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.page
    %header
      .title
        Trade Analizer
      %nav
        %ul
          %li
            Some
          %li
            Content
          %li
            Here
    .clear
    .content
      = yield